= javascript_include_tag 'rorumenbas/index'
= provide(:title, (t 'title.rorumenba'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active ロールメンバ

%br

%table#rorumenba.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th ロールコード
      %th ロール
      %th 社員
      %th 氏名
      %th ロール内序列
      %th
      %th
  %tbody
    = render @rorumenbas
