<%= javascript_include_tag 'shozais/index' %>
<%provide(:title, (t 'title.shozai'))%>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">所在マスタ</li>
</ol>

<table id="shozai" class="shozaitable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
  <tr>
    <th>所在コード</th>
    <th>所在名</th>
    <th>背景色</th>
    <th>文字色</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <%= render @shozais %>
  </tbody>
</table>
