= javascript_include_tag 'yuukyuu_kyuuka_rirekis/index'
= provide(:title, (t 'title.yuukyuu_kyuuka'))
%ol.breadcrumb
  %li= link_to (t 'title.menu'), main_path
  %li.active 有給休暇履歴

%br

%table#yuukyuu_kyuuka_rireki.table.table-striped.table-bordered.table-hover{cellspacing: '0', width: '100%'}
  %thead
    %tr
      %th ID
      %th 社員番号
      %th 社員名
      %th 年月
      %th 月初有給残
      %th 月末有給残
      %th
      %th
  %tbody
    = render @yuukyuu_kyuuka_rirekis
