<%= javascript_include_tag 'mybashomasters/index' %>
<%provide(:title, (t 'title.mybashomaster'))%>
<script>
    current_user_id = <%= current_user.id %>
    current_user_id = current_user_id.toString()
</script>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li class="active">MY場所マスタ</li>
</ol>
<table id="mybashomaster" class="mybashotable table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>社員番号</th>
      <th>場所コード</th>
      <th>場所名</th>
      <th>場所名カナ</th>
      <th>SUB</th>
      <th>場所区分</th>
      <th>会社名</th>
      <th>更新日</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @mybashomasters %>

  </tbody>
</table>
